{% include "nav.html"%}
    <div class="container">
        {% for record in recordData %}
        <table>
            <tr>
                <td>ID</td>
                <td>Дата</td>
                <td>Пациент</td>
                <td>Комментарий врача</td>
                <td>Врач</td>
                <td>Услуга</td>
                <td>Цена</td>
                <td>Статус</td>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{record.record_id}}</td>
                    <td>{{record.date_of_creation}}</td>
                    <td>{{record.first_name}} {{record.last_name}}</td>
                    <td>{{record.doctor_last_name}} - {{record.speciality}}</td>
                    <td>{{record.service_name}}</td>
                    <td>{{record.price}}</td>
                    <td>{{record.service_status}}</td>
                    <td>
                    </td>
                </tr>

            </tbody>
        </table>
        <form action="{{url_for('updateRecord', record_id = record.record_id)}}" method="post">
            <h5>Комментарий врача</h5>
            <input type="text" name='caption' placeholder="Добавить комментарий"></td>
            <h5>Изменить статус записи</h5>
            <select name="status">
                <option value="1">Выполнено</option>
                <option value="2">Создано</option>
                <option value="3">Отменено</option>
            </select>

            <input class="button-primary" type="submit" value="Отправить">
        </form>
        {% endfor %}
    </div>